:root {
    --pink100: #ff8fc3;
    --pink200: #ff499e;
    --pink300: #a480cf;
    --blue100: #89cdfb;
    --blue200: #779be7;
    --blue300: #5582c6;
    --gray0: #ffffff;
    --gray100: #e6e6e6;
    --gray200: #a6a6a6;
    --gray300: #414141;
    --gray350: #6A4865;
    --gray400: #222222;
    --mainfont: 'Montserrat', sans-serif;
    --bodyfont: 'Raleway', sans-serif;
    --header1-size: 4rem;
    --header2-size: 2.5rem;
    --header3-size: 2.1875rem;
    --body-size: 1.5rem;
    --gradientb2p2: linear-gradient(to top, var(--pink200) 0%, var(--blue200) 100%);
    --gradientp2b2: linear-gradient(to top, var(--blue200) 0%, var(--pink200) 100%);
    --gradientp1p3: linear-gradient(to top, var(--pink300) 0%, var(--pink100) 100%);
    --gradientp3p1: linear-gradient(360deg, var(--pink300) 0%, var(--pink100) 100%);
    --gradientb2p3: linear-gradient(360deg, var(--blue200) 0%, var(--pink300) 100%);
    --gradientp3b2: linear-gradient(0deg, var(--blue200) 0%, var(--pink300) 100%);
    --gradientb2p1: linear-gradient(360deg, var(--blue200) 0%, var(--pink100) 100%);
    --gradientp1b2: linear-gradient(0deg, var(--blue200) 0%, var(--pink100)100%);
    --gradientg23: linear-gradient(0deg, var(--gray200) 0%, var(--gray300) 100%);
    --gradientg32: linear-gradient(360deg, var(--gray200) 0%, var(--gray300) 100%);
    --gradientg43: linear-gradient(0deg, var(--gray400) 0%, var(--gray300) 100%);
    --gradientg34: linear-gradient(0deg, var(--gray300) 0%, var(--gray400) 100%);
    --gradientg335: linear-gradient(0deg, var(--gray300) 0%, var(--gray350) 100%);
    --gradientg353: linear-gradient(180deg, var(--gray300) 0%, var(--gray350) 100%);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--mainfont), sans-serif;
    background-color: var(--gray300);
}

.overlay {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, var(--gray300) 100%);
}

.container {
    margin: 0;
    height: 100vh;
    text-align: center;
}

h1 {
    margin: 0;
    font-weight: bold;
    font-size: var(--header1-size);
    font-family: var(--mainfont), sans-serif;
}

h2 {
    margin: 0;
    font-size: var(--header2-size);
    font-family: var(--mainfont), sans-serif;
}

h3 {
    margin: 0;
    font-size: var(--header3-size);
    font-family: var(--mainfont), sans-serif;
}

p {
    font-family: var(--bodyfont);
    font-size: var(--body-size);
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    p {
        font-size: 1rem;
    }
}


/* -------------------------LANDING PAGE------------------------------------ */

.landing-page-container {
    position: relative;
    margin: 0;
    height: 100vh;
    color: var(--pink100);
    background-color: var(--gray300);
    text-align: center;
    background-image: url(/img/launde-morel-HzvfONwKapE-unsplash.webp);
}

.headers {
    padding-top: 180px;
    height: 100vh;
}

.head-text {
    height: 50vh;
}

.headers h2 {
    background-color: var(--pink300);
    background-image: linear-gradient(to top, var(--blue100) 0%, var(--pink200) 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.headers h1 {
    font-size: 6rem;
    color: var(--pink200);
}

.head-text span {
    color: var(--gray0);
}

.carousel {
    margin-top: 20px;
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 6.35rem;
    height: 6.5rem;
}

.carousel .change_outer {
    width: 14ch;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    text-align: center;
    height: 6.5rem;
    overflow: hidden;
}

.carousel .change_outer .change_inner {
    position: relative;
    animation: rotate 10s ease-in-out infinite;
}

.carousel .change_outer .element {
    display: block;
    font-weight: 700;
}

@keyframes rotate {
    0%,
    20% {
        transform: translateY(0);
    }
    22%,
    42% {
        transform: translateY(-6.5rem);
    }
    44%,
    64% {
        transform: translateY(-13rem);
    }
    66%,
    86% {
        transform: translateY(-19.5rem);
    }
    88%,
    100% {
        transform: translateY(-26rem);
    }
}


/*------------ scrollbutton------ */

.scroll-down-button {
    height: 50vh;
    overflow: hidden;
    color: var(--gray100);
}

.scroll-down-button a {
    display: inline-block;
    font-size: 30px;
    background: var(--blue200);
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, var(--pink100) 100%);
    padding: 20px 25px 30px 25px;
    border-radius: 4px;
    color: var(--gray0);
    transition: all ease-in 0.3s;
}

.scroll-down-button:hover p {
    transition: opacity ease-out 0.3s;
    opacity: 0;
}

.scroll-down-button:hover a:not(i) {
    background: var(--gray0);
    background: linear-gradient(to top, var(--pink200) 0%, rgba(0, 0, 0, 0) 100%);
    transform: matrix(1.6, 0, 0, 1.2, 0, 50);
}

.scroll-down-button:hover i {
    color: var(--gray0);
    transform: matrix(1, 0, 0, 1, 0, 19);
}


/* --------------------------------**************---------------------------- */


/*-----------------------------NAVBAR------------------------------------------ */

#navbar {
    overflow: hidden;
    background-color: var(--gray300);
    visibility: hidden;
}

#navbar a {
    float: inline-start;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: var(--body-size);
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: var(--pink100);
    color: white;
}

.content {
    padding-top: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}


/* --------------------------------**************---------------------------- */


/* ------------------------------------------ABOUT ME---------------------- */

#about_me .container {
    background-image: linear-gradient(360deg, var(--gray300) 16.76%, var(--gray350) 57.94%, var(--gray300) 100%);
}

#about_me h2 {
    background-color: var(--pink100);
    background-image: linear-gradient(to top, var(--pink200) 0%, var(--pink300) 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


/* --------------------------------**************---------------------------- */


/* ---------------------------------------TOOLS---------------------- */

#tools .container {
    background-image: var(--gradientg43);
}


/* --------------------------------**************---------------------------- */


/* ---------------------------------------GALLERY---------------------- */

#gallery .container {
    background-image: var(--gradientg34);
}


/* --------------------------------**************---------------------------- */


/* ----------------------------------------CONTACTS---------------------- */

#contacts .container {
    background-image: var(--gradientg23);
}


/* --------------------------------**************---------------------------- */